/* App.css */

body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
    background:
    radial-gradient(circle at center, #0b3c67 0%, #031321 70%);
  color: #fff;
  overflow-x: hidden;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

/* ================= PREMIUM PRELOADER ================= */

.preloader {
  position: fixed;
  inset: 0;
  background:
    radial-gradient(circle at center, #0b3c67 0%, #031321 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;

  animation: curtainUp 1.3s ease forwards;
  animation-delay: 1.8s;
}

.preloader-content {
  text-align: center;
}

.preloader-logo {
  width: 90px;
  height: 90px;
  margin: 0 auto 24px;
  border-radius: 22px;
  background: rgba(255,255,255,0.08);
  border: 1px solid rgba(255,255,255,0.12);
  backdrop-filter: blur(20px);

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 20px 50px rgba(0,0,0,0.2);

  animation: floatLogo 2.5s ease-in-out infinite;
}

.preloader-logo span {
  font-size: 34px;
  font-weight: 700;
  color: white;
}

.preloader-name {
  font-size: 64px;
  font-weight: 700;
  letter-spacing: 3px;
  margin: 0;

  animation: fadeInUp 1s ease;
}

.preloader-role {
  margin-top: 14px;
  font-size: 14px;
  letter-spacing: 2px;
  color: #9fd7ff;
  text-transform: uppercase;
}

.app-hidden {
  opacity: 0;
}

.app-show {
  opacity: 1;
  transition: opacity 0.8s ease;
}

/* ================= ANIMATIONS ================= */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes curtainUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
    visibility: hidden;
  }
}

@keyframes floatLogo {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* ================= MOBILE ================= */

@media (max-width: 768px) {
  .preloader-logo {
    width: 70px;
    height: 70px;
  }

  .preloader-logo span {
    font-size: 26px;
  }

  .preloader-name {
    font-size: 38px;
    letter-spacing: 2px;
    padding: 0 20px;
  }

  .preloader-role {
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0 20px;
  }
}